In [1]:
import pandas as pd
import numpy as np

In [2]:
df_desafio = pd.read_csv('desafio1.csv')

In [3]:
df_desafio.head(2)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1

## Calculando a Média

In [4]:
media = df_desafio.groupby('estado_residencia')['pontuacao_credito'].mean()

In [5]:
media.rename('media', inplace = True)

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: media, dtype: float64

## Calculando a Mediana

In [6]:
mediana = df_desafio.groupby('estado_residencia')['pontuacao_credito'].median()

In [7]:
mediana.rename('mediana', inplace = True)

estado_residencia
PR    650
RS    650
SC    653
Name: mediana, dtype: int64

## Calculando a Moda

In [8]:
moda = df_desafio.groupby('estado_residencia')['pontuacao_credito'].agg(lambda x: x.mode())

In [9]:
moda.rename('moda', inplace = True)

estado_residencia
PR    850
RS    850
SC    850
Name: moda, dtype: int64

## Calculando o Desvio Padrão

In [10]:
desvio_padrao = df_desafio.groupby('estado_residencia')['pontuacao_credito'].std()

In [11]:
desvio_padrao.rename('desvio_padrao', inplace = True)

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: desvio_padrao, dtype: float64

## Gerando o df_final

In [12]:
df_final = pd.concat([media, mediana, moda, desvio_padrao], axis = 1)

In [13]:
df_final

                        media  mediana  moda  desvio_padrao
estado_residencia
PR                 648.961294      650   850      98.607186
RS                 651.105143      650   850      95.136598
SC                 649.537653      653   850      97.233493

In [15]:
df_final.to_json('submission.json', orient = 'index')